body {

    margin: 0;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: auto 30px auto 30px;
    text-align: center;
}

/****Class****/

.main {
    /* margin: -190px 200px 50px 200px; 
    height: 500px; */
    height: 100vh;
    align-content: center;
    background-image: url('design/background.jpeg');
    background-size: cover;
    /* position: relative; */
}

.background {
    background-color: #d5e0ef;
    padding: 5% 0% ;
    margin: 60px 50px 0px 50px;
    /* margin: auto; */
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 0px;
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.rectangle {
    width: 330px;
    height: 500px;
    background-color: white;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
   /* margin-top: 30%; */
    /*****figure out how to center the whole thing***/

}
.QR {
    width: 90%;
    margin: 15px auto 20px auto;
    border-radius: 7px;

}
.second-text {
    font-family: "outfit", sans-serif;
    color: grey;
    margin-top: 0px;
}